<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.bridge.safe" version="0.1.0">
  <name>Safe</name>
  <description>Easy to use cryptographic operations for Cordova.</description>
  <license>GPLv2</license>
  <keywords>cordova,file,open,intent</keywords>
  <repo>https://github.com/cordova-bridge/safe</repo>
  <issue>https://github.com/cordova-bridge/safe/issues</issue>
  <js-module name="safe" src="www/bridge.safe.js">
    <merges target="cordova.plugins.bridge"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="Safe">
        <param name="android-package" value="com.bridge.Safe"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/crypto.jar" target-dir="libs"/>
    <source-file src="src/android/armeabi/libconceal.so" target-dir="libs/armeabi"/>
    <source-file src="src/android/armeabi/libcryptox.so" target-dir="libs/armeabi"/>
    <source-file src="src/android/armeabi-v7a/libconceal.so" target-dir="libs/armeabi-v7a"/>
    <source-file src="src/android/armeabi-v7a/libcryptox.so" target-dir="libs/armeabi-v7a"/>
    <source-file src="src/android/x86/libconceal.so" target-dir="libs/x86"/>
    <source-file src="src/android/x86/libcryptox.so" target-dir="libs/x86"/>
    <source-file src="src/android/Safe.java" target-dir="src/com/bridge"/>
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="Safe">
        <param name="ios-package" value="Safe"/>
      </feature>
    </config-file>
    <source-file src="src/ios/Safe.m"/>
  </platform>
</plugin>
