<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.disusered.safe" version="3.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-safe</name>
    <js-module name="cordova-safe" src="www/cordova-safe.js">
        <clobbers target="cordova.plugins.cordova-safe" />
    </js-module>
</plugin>
